<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=windows-1252">
	<TITLE>Les photos d'&Eacute;tienne</TITLE>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="favicon.ico" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/lightgallery.css">
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/swiper.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">




<link rel="stylesheet" href="css/global.css" type="text/css" media="all">
	<SCRIPT LANGUAGE="JavaScript" type="text/javascript">
// Set up the image files to be used.
var theImages = new Array() 
var thePage = new Array()

{% for item in tbl %}
    thePage[{{ item.RANDOM_INDEX }}] = "espece_{{ item.TAG_SPECIES }}.html"
{% endfor %}
{% for item in tbl %}
    theImages[{{ item.RANDOM_INDEX }}] = "{{ item.PNG }}"
{% endfor %}

var j = 0
var p = theImages.length;
//var whichImage = Math.round(Math.random()*(p-1));
var whichImage = Math.round(Math.random()*(p-1));
var whichImage1 = (whichImage+1) % (p-1) ;
var whichImage2 = (whichImage+2) % (p-1) ;
var whichImage3 = (whichImage+3) % (p-1) ;
var whichImage4 = (whichImage+4) % (p-1) ;
var whichImage5 = (whichImage+5) % (p-1) ;
var whichImage6 = (whichImage+6) % (p-1) ;
var whichImage7 = (whichImage+7) % (p-1) ;
var whichImage8 = (whichImage+8) % (p-1) ;
var whichImage9 = (whichImage+9) % (p-1) ;
var whichImage10 = (whichImage+10) % (p-1) ;
var whichImage11 = (whichImage+11) % (p-1) ;
var whichImage12 = (whichImage+12) % (p-1) ;
var whichImage13 = (whichImage+13) % (p-1) ;
var whichImage14 = (whichImage+14) % (p-1) ;
var whichImage15 = (whichImage+15) % (p-1) ;
var whichImage16 = (whichImage+16) % (p-1) ;
var whichImage17 = (whichImage+17) % (p-1) ;
var whichImage18 = (whichImage+18) % (p-1) ;
var whichImage19 = (whichImage+19) % (p-1) ;
var whichImage20 = (whichImage+20) % (p-1) ;
var whichImage21 = (whichImage+21) % (p-1) ;
var whichImage22 = (whichImage+22) % (p-1) ;
var whichImage23 = (whichImage+23) % (p-1) ;
var whichImage24 = (whichImage+24) % (p-1) ;
var whichImage25 = (whichImage+25) % (p-1) ;
var whichImage26 = (whichImage+26) % (p-1) ;
var whichImage27 = (whichImage+27) % (p-1) ;
var whichImage28 = (whichImage+28) % (p-1) ;
var whichImage29 = (whichImage+29) % (p-1) ;
var whichImage30 = (whichImage+30) % (p-1) ;
var whichImage31 = (whichImage+31) % (p-1) ;
var whichImage32 = (whichImage+32) % (p-1) ;
var whichImage33 = (whichImage+33) % (p-1) ;
var whichImage34 = (whichImage+34) % (p-1) ;
var whichImage35 = (whichImage+35) % (p-1) ;
var whichImage36 = (whichImage+36) % (p-1) ;
var whichImage37 = (whichImage+37) % (p-1) ;
var whichImage38 = (whichImage+38) % (p-1) ;
var whichImage39 = (whichImage+39) % (p-1) ;
var whichImage40 = (whichImage+40) % (p-1) ;
var whichImage41 = (whichImage+41) % (p-1) ;
var whichImage42 = (whichImage+42) % (p-1) ;
var whichImage43 = (whichImage+43) % (p-1) ;
var whichImage44 = (whichImage+44) % (p-1) ;
var whichImage45 = (whichImage+45) % (p-1) ;
var whichImage46 = (whichImage+46) % (p-1) ;
var whichImage47 = (whichImage+47) % (p-1) ;
var whichImage48 = (whichImage+48) % (p-1) ;
var whichImage49 = (whichImage+49) % (p-1) ;
var whichImage50 = (whichImage+50) % (p-1) ;
var whichImage51 = (whichImage+51) % (p-1) ;
var whichImage52 = (whichImage+52) % (p-1) ;
var whichImage53 = (whichImage+53) % (p-1) ;
var whichImage54 = (whichImage+54) % (p-1) ;
var whichImage55 = (whichImage+55) % (p-1) ;
var whichImage56 = (whichImage+56) % (p-1) ;
var whichImage57 = (whichImage+57) % (p-1) ;
var whichImage58 = (whichImage+58) % (p-1) ;
var whichImage59 = (whichImage+59) % (p-1) ;
var whichImage60 = (whichImage+60) % (p-1) ;
var whichImage61 = (whichImage+61) % (p-1) ;
var whichImage62 = (whichImage+62) % (p-1) ;
var whichImage63 = (whichImage+63) % (p-1) ;
var whichImage64 = (whichImage+64) % (p-1) ;
function showImage1(){
document.write('<a href="'+thePage[whichImage1]+'"><img width={{frac}}% order="0" src="'+theImages[whichImage1]+'" >');}
function showImage2(){
document.write('<a href="'+thePage[whichImage2]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage2]+'" >');}
function showImage3(){
document.write('<a href="'+thePage[whichImage3]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage3]+'" >');}
function showImage4(){
document.write('<a href="'+thePage[whichImage4]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage4]+'" >');}
function showImage5(){
document.write('<a href="'+thePage[whichImage5]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage5]+'" >');}
function showImage6(){
document.write('<a href="'+thePage[whichImage6]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage6]+'" >');}
function showImage7(){
document.write('<a href="'+thePage[whichImage7]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage7]+'" >');}
function showImage8(){
document.write('<a href="'+thePage[whichImage8]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage8]+'" >');}
function showImage9(){
document.write('<a href="'+thePage[whichImage9]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage9]+'" >');}
function showImage10(){
document.write('<a href="'+thePage[whichImage10]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage10]+'" >');}
function showImage11(){
document.write('<a href="'+thePage[whichImage11]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage11]+'" >');}
function showImage12(){
document.write('<a href="'+thePage[whichImage12]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage12]+'" >');}
function showImage13(){
document.write('<a href="'+thePage[whichImage13]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage13]+'" >');}
function showImage14(){
document.write('<a href="'+thePage[whichImage14]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage14]+'" >');}
function showImage15(){
document.write('<a href="'+thePage[whichImage15]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage15]+'" >');}
function showImage16(){
document.write('<a href="'+thePage[whichImage16]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage16]+'" >');}
function showImage17(){
document.write('<a href="'+thePage[whichImage17]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage17]+'" >');}
function showImage18(){
document.write('<a href="'+thePage[whichImage18]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage18]+'" >');}
function showImage19(){
document.write('<a href="'+thePage[whichImage19]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage19]+'" >');}
function showImage20(){
document.write('<a href="'+thePage[whichImage20]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage20]+'" >');}
function showImage21(){
document.write('<a href="'+thePage[whichImage21]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage21]+'" >');}
function showImage22(){
document.write('<a href="'+thePage[whichImage22]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage22]+'" >');}
function showImage23(){
document.write('<a href="'+thePage[whichImage23]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage23]+'" >');}
function showImage24(){
document.write('<a href="'+thePage[whichImage24]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage24]+'" >');}
function showImage25(){
document.write('<a href="'+thePage[whichImage25]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage25]+'" >');}
function showImage26(){
document.write('<a href="'+thePage[whichImage26]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage26]+'" >');}
function showImage27(){
document.write('<a href="'+thePage[whichImage27]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage27]+'" >');}
function showImage28(){
document.write('<a href="'+thePage[whichImage28]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage28]+'" >');}
function showImage29(){
document.write('<a href="'+thePage[whichImage29]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage29]+'" >');}
function showImage30(){
document.write('<a href="'+thePage[whichImage30]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage30]+'" >');}
function showImage31(){
document.write('<a href="'+thePage[whichImage31]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage31]+'" >');}
function showImage32(){
document.write('<a href="'+thePage[whichImage32]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage32]+'" >');}
function showImage33(){
document.write('<a href="'+thePage[whichImage33]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage33]+'" >');}
function showImage34(){
document.write('<a href="'+thePage[whichImage34]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage34]+'" >');}
function showImage35(){
document.write('<a href="'+thePage[whichImage35]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage35]+'" >');}
function showImage36(){
document.write('<a href="'+thePage[whichImage36]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage36]+'" >');}
function showImage37(){
document.write('<a href="'+thePage[whichImage37]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage37]+'" >');}
function showImage38(){
document.write('<a href="'+thePage[whichImage38]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage38]+'" >');}
function showImage39(){
document.write('<a href="'+thePage[whichImage39]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage39]+'" >');}
function showImage40(){
document.write('<a href="'+thePage[whichImage40]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage40]+'" >');}
function showImage41(){
document.write('<a href="'+thePage[whichImage41]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage41]+'" >');}
function showImage42(){
document.write('<a href="'+thePage[whichImage42]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage42]+'" >');}
function showImage43(){
document.write('<a href="'+thePage[whichImage43]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage43]+'" >');}
function showImage44(){
document.write('<a href="'+thePage[whichImage44]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage44]+'" >');}
function showImage45(){
document.write('<a href="'+thePage[whichImage45]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage45]+'" >');}
function showImage46(){
document.write('<a href="'+thePage[whichImage46]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage46]+'" >');}
function showImage47(){
document.write('<a href="'+thePage[whichImage47]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage47]+'" >');}
function showImage48(){
document.write('<a href="'+thePage[whichImage48]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage48]+'" >');}
function showImage49(){
document.write('<a href="'+thePage[whichImage49]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage49]+'" >');}
function showImage50(){
document.write('<a href="'+thePage[whichImage50]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage50]+'" >');}
function showImage51(){
document.write('<a href="'+thePage[whichImage51]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage51]+'" >');}
function showImage52(){
document.write('<a href="'+thePage[whichImage52]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage52]+'" >');}
function showImage53(){
document.write('<a href="'+thePage[whichImage53]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage53]+'" >');}
function showImage54(){
document.write('<a href="'+thePage[whichImage54]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage54]+'" >');}
function showImage55(){
document.write('<a href="'+thePage[whichImage55]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage55]+'" >');}
function showImage56(){
document.write('<a href="'+thePage[whichImage56]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage56]+'" >');}
function showImage57(){
document.write('<a href="'+thePage[whichImage57]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage57]+'" >');}
function showImage58(){
document.write('<a href="'+thePage[whichImage58]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage58]+'" >');}
function showImage59(){
document.write('<a href="'+thePage[whichImage59]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage59]+'" >');}
function showImage60(){
document.write('<a href="'+thePage[whichImage60]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage60]+'" >');}
function showImage61(){
document.write('<a href="'+thePage[whichImage61]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage61]+'" >');}
function showImage62(){
document.write('<a href="'+thePage[whichImage62]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage62]+'" >');}
function showImage63(){
document.write('<a href="'+thePage[whichImage63]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage63]+'" >');}
function showImage64(){
document.write('<a href="'+thePage[whichImage64]+'"><img width={{frac}}% border="0" src="'+theImages[whichImage64]+'" >');}
//  End -->
</SCRIPT>
<META HTTP-EQUIV="Content-Language" CONTENT="fr-ca">

</HEAD>
<BODY >

<style>
  .newspaper
  {
    -moz-column-count:4; /* Firefox */
    -webkit-column-count:4; /* Safari and Chrome */
    column-count:4;
    -moz-column-gap:20px; /* Firefox */
    -webkit-column-gap:20px; /* Safari and Chrome */
    column-gap:20px;
    -moz-column-rule:1px outset #FFFFFF; /* Firefox */
    -webkit-column-rule:1px outset #FFFFFF; /* Safari and Chrome */
    column-rule:1px outset #FFFFFF;
  }

  table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #000;
}




</style>




<div align="center">
    <br><h2 class="site-section-heading text-center">Les photos d'&Eacute;tienne</h2><br>
    <div align = "center"><em><h4>etienne.artigau@gmail.com</h4></em></div><br>
  {{matrix}}
</div>



</BODY>
</HTML>
